<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Xworkz</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">riti</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping class="com.xworkz.spring_hibernate.entity.FoodItemEntity" />
		<mapping class="com.xworkz.customer.entity.CustomerEntity"/>
		<mapping class="com.xworkz.hotel_vendor.entity.HotelVendorEntity"/>
	</session-factory>
</hibernate-configuration>